<div class="whyUs flex-direction dFlex">
  <div class="mainCaption">
    <h2>Why Us?</h2>
  </div>

  <div class="statsWrapper">
    <div class="statsColumn">
      <div class="statsDetails">
        <h3>50,000 <span>+</span></h3>
        <p>Entrepreneurs</p>
      </div>
      <img src="assets/images/entrepreneur.png" alt="image">
    </div>
    <div class="statsColumn">
      <div class="statsDetails">
        <h3>30,000 <span>+</span></h3>
        <p>Investors</p>
      </div>
      <img src="assets/images/investor.png" alt="image">
    </div>
    <div class="statsColumn">
      <div class="statsDetails">
        <h3>10,000 <span>+</span></h3>
        <p>Mentors</p>
      </div>
      <img src="assets/images/mentor.png" alt="image">
    </div>
    <div class="statsColumn">
      <div class="statsDetails">
        <h3>1,00,000 <span>+</span></h3>
        <p>Service Providers</p>
      </div>
      <img src="assets/images/service-provider.png" alt="image">
    </div>
  </div>
</div>

<div class="dFlex">
<hr>
</div>