.chart-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  padding: 16px;
}

.chart-card {
  width: 100%;
  max-width: 500px;
  margin: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow: hidden;
}

mat-card-header {
  background-color: #3f51b5de;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
}

mat-card-title {
  font-weight: 500;
  font-size: 16px;
  margin: 10px;
}

mat-card {
  padding: 0;
}

mat-card-content {
  height: 230px;
}