/* color variables */

:root {
     --primary-color: #2680e8 ;
     --white-color: #ffffff;
     --sky-blue: #00a2ff;
     --teal-blue: #56c4c4;
     --extra-light-blue: #edf7f7;
     --light-blue: #e2eaff;
     --ocean-blue: rgba(33, 150, 243, 0.6);
     --red-color: #f00d0d;
     --light-red:#ff1744;
     --error-red: #f44336;
     --orange-color: #ff9131;
     --success-green: #44ab34;
     --dark-black-color: #4a4a4a;
     --light-black-color: #252525;
     --green-color: #45d32f;
     --dark-blue: #56c4c4;
     --chat-extra-light-blue: #e8f1f2;
     --extra-light-teal: #c7e6e7;
     --light-teal-contrast: #fafafa;
     --chat-highlight-blue: #2680e8;
     --dark-blue-contrast: #bde8e8;
     --orange-color: rgba(255, 145, 49, 0.85);
     --violet-color: #c785d3;
     --blue-shadow: rgba(0, 162, 255, 0.35);
     --gray-shadow: rgba(0, 0, 0, 0.16);
     --dark-orange: #ffaa00;


     /* Shades of grey*/
     --light-silver: #f5f5f5;
     --light-silver-contrast: #5f5f5f;
     --extra-light-silver: #fcfcfc;
     --silver-color: #eaeaea;
     --silver-color-contrast: #737373;
     --dark-silver: #d6d6d6;
     --dark-contrast-silver: #e9e9e9;
     --light-grey: #999999;
     --grey-color: #757575;
     --grey-contrast-color: #f2f2f2;
     --darkest-grey: #424242;
     --darkest-contrast-grey: #9e9e9e;
     --black-color: #212121;
     --black-contrast-color: #616161;
     --extra-light-grey: #bdbdbd;

     /* Shades of green*/
     --dark-green: rgba(0,128,128,1);
     --light-green: rgba(0,128,128,0.6);
     --extra-light-green: rgba(0,128,128,0.4);

     /* Shades of blue*/
     --dark-aqua: rgba(80,214,207,1);
     --light-aqua: rgba(80,214,207,0.6);
     --extra-light-aqua: rgba(80,214,207,0.4);


     --font-size-22: 1.375rem ;  /* 25px */
     --font-size-20: 1.25rem ;  /* 20px */
     --font-size-18: 1.125rem ;  /* 18px */
     --font-size-17: 1.063rem ;  /* 17px */
     --font-size-16: 1rem ;  /* 16px */
     --font-size-15: 0.938rem ;  /* 15px */
     --font-size-14: 0.875rem ;  /* 14px */
     --font-size-13: 0.813rem ;  /* 13px */
     --font-size-12: 0.75rem ;  /* 12px */
     --font-size-11: 0.70rem ;  /* 11px */
     --font-size-10: 0.625rem;  /* 10px */
     --font-size-60: 3.75rem; /* 60px */
     --font-size-30: 1.875rem; /* 54px */


     --font-weight-exlight:100;
     --font-weight-light:300;
     --font-weight-normal:400;
     --font-weight-medium:500;
     --font-weight-bold:600;
     --font-weight-exbold:800;

     --font-family-roboto: 'Roboto';
     --font-family-roboto-medium: 'RobotoMedium';
     --font-family-poppinsbold: 'poppinsbold';
     --font-family-poppinsextrabold: 'poppinsextrabold';
     --font-family-poppinslight: 'poppinslight';
     --font-family-poppinsmedium: 'poppinsmedium';
     --font-family-poppinsregular: 'poppinsregular';
     --font-family-poppinssemibold: 'poppinssemibold';
     --font-family-poppinsthin: 'poppinsthin';

     /**
     *
     * CSS Variables declaed below only to be used
     *
     **/

     /*
      * TGT Fonts
      */

     /* TGT Font Family */
     --tgt-font-primary: var(--font-family-roboto);
     --tgt-font-secondary: var( --font-family-roboto-medium);
     --tgt-font-heading-regular: var( --font-family-poppinsmedium);
     --tgt-font-heading-secondary: var( --font-family-poppinsregular);
     --tgt-font-secondary-thin: var(--font-family-poppinsthin);
     --tgt-font-secondary-light: var(--font-family-poppinslight);
     --tgt-font-secondary-bold: var(--font-family-poppinsbold);
     --tgt-font-secondary-bolder: var(--font-family-poppinsextrabold);

     /* TGT Font Sizes */
     --tgt-font-size-xxxs : var(--font-size-10);
     --tgt-font-size-xxs: var(--font-size-11);
     --tgt-font-size-xs: var(--font-size-12);
     --tgt-font-size-sm: var(--font-size-13);
     --tgt-font-size-regular: var(--font-size-14);
     --tgt-font-size-md: var(--font-size-16);
     --tgt-font-size-lg: var(--font-size-18);
     --tgt-font-size-slg: var(--font-size-22);
     --tgt-font-size-xl: var(--font-size-20);

     /* TGT Welcome page font Sizes */
     --tgt-font-size-gigantic : var(--font-size-60);
     --tgt-font-size-huge : var(--font-size-30);

     /*
      * TGT Colors
      */

     /* Basics */
     --tgt-white: var(--white-color);
     --tgt-blue: var(--sky-blue);
     --tgt-teal: var(--teal-blue);
     --tgt-light-teal-contrast: var(--light-teal-contrast);
     --tgt-dark-orange: var(--dark-orange);
     --tgt-light-blue: var(--light-blue);
     --tgt-blue-secondary: var(--ocean-blue);
     --tgt-extra-light-blue: var(--extra-light-blue);
     --tgt-green-color: var(--green-color);
     --tgt-red: var(--red-color);
     --tgt-light-red:var(--light-red);
     --tgt-dark-grey: var(--darkest-grey);
     --tgt-grey: var(--grey-color);
     --tgt-silver-color-contrast: var(--silver-color-contrast);
     --tgt-light-grey: var(--light-grey);
     --tgt-black: var(--black-color);
     --tgt-extra-light-grey: var(--extra-light-grey);
     --tgt-silver: var(--silver-color);
     --tgt-extra-light-silver: var(--extra-light-silver);
     --tgt-light-silver: var(--light-silver);
     --tgt-error-red: var(--error-red);
     --tgt-success-green: var(--success-green);
     --tgt-dark-silver: var(--dark-silver);
     --tgt-violet-color: var(--violet-color);
     --tgt-orange-color: var(--orange-color);
     --tgt-silver-contrast: var(--light-silver-contrast);  
     --tgt-darkest-contrast-grey: var(--darkest-contrast-grey);
     --tgt-primary-color: var(--tgt-teal);
     --tgt-primary-action-color: var(--tgt-blue);
     --tgt-grey-shadow: var(--gray-shadow);
     --tgt-blue-shadow: var(--blue-shadow);
     --tgt-dark-blue: var(--dark-blue);

     /* Text Colors */
     --tgt-regular-text-color: var(--tgt-grey);
     --tgt-light-text-color: var(--tgt-light-grey);
     --tgt-highligt-text-color: var(--tgt-black);
     --tgt-heading-color: var(--tgt-black);


     /*  color Shades  */
     --tgt-dark-green: var(--dark-green);
     --tgt-light-green: var(--light-green);
     --tgt-extra-light-green: var(--extra-light-green);
     --tgt-dark-aqua: var(--dark-aqua);
     --tgt-light-aqua: var(--light-aqua);
     --tgt-extra-light-aqua: var(--extra-light-aqua);


     /*
      * TGT Components
      */

     /* Link Colors */
     --tgt-default-link-color: var(--tgt-primary-action-color);
     --tgt-secaondary-link-color: var(--tgt-blue-secondary);

     /* Buttons */
     --tgt-primary-button-background: var(--tgt-primary-action-color);
     --tgt-primary-button-text-color: var(--tgt-white);
     --tgt-secondary-button-background: var(--tgt-white);
     --tgt-secondary-button-text-color: var(--tgt-primary-action-color);
     --tgt-secondary-button-border-color: var(--tgt-primary-action-color);

     /* Progress bar */
     --tgt-progress-bar-active: var(--tgt-primary-color);
     --tgt-progress-bar-buffer: var(--tgt-light-silver);
     --tgt-progress-bar-error: var(--tgt-error-red);

     /* Layout colors */
     --tgt-box-shadow-default: var(--tgt-grey-shadow);
     --tgt-box-shadow-highlight: var(--tgt-blue-shadow);
     --tgt-border-color-default: var(--tgt-dark-silver);
     --tgt-border-highlight: var(--blue-shadow);
     --tgt-border-color-dark: var(--tgt-silver);
     --tgt-border-color-light: var(--tgt-light-silver);
     --tgt-page-background-light: var(--tgt-light-silver);
     --tgt-page-background-dark: var(--tgt-silver);
     --tgt-highlight-background: var(--tgt-extra-light-blue);

     /* Chat Box */
     --tgt-chat-background: var(--chat-extra-light-blue);
     --tgt-chat-heading-background: var(--extra-light-teal);
     --tgt-chat-highlight-blue: var(--chat-highlight-blue);
}
