<nz-form-item *ngIf="fieldData" [formGroup]="form">
    <div>
        <label class="dynamic-control-label" for="{{'checkfield_' + fieldData.entityFieldId + '_' + fieldData.fieldTypeId| trim}}" appFormlabel
            [data]="fieldData.formSectionFieldName" [keyId]="fieldData.entityFieldId"
            [id]="'label_'+fieldData.entityFieldId" [class]="fieldData | required"></label>
        <span *ngIf="fieldData.instructions" nz-tooltip nzTooltipPlacement="top"
            [nzTooltipTitle]="fieldData.instructions | translate">
            &nbsp; <i nz-icon nzType="info-circle" nzTheme="outline"></i>
        </span>
    </div>
    <nz-form-control *ngIf="formSection.formMode == 2 || fieldData?.isDisable; else elseBlock">
        <input nz-input id="{{'field_'+fieldData.entityFieldId}}" type="text" class="form-control dynamic-control-element"
            [value]="fieldData.formSectionFieldValue | date: 'dd/MM/yyyy hh:mm a' ">
    </nz-form-control>
    <ng-template #elseBlock>
        <!-- *ngIf="formSection.formMode == 1" -->
        <nz-form-control [nzErrorTip]="errErrorTpl">
            <!-- <nz-date-picker nzShowTime id="{{'field_'+fieldData.entityFieldId}}" [attr.aria-label]="controlName"
                [formControlName]="controlName" [nzPlaceHolder]="datePlaceHolderText" (ngModelChange)="onChange($event)"
                (focusout)="onFocusout($event)" [nzAllowClear]="false"></nz-date-picker> -->

            <input class="dynamic-control-element" id="{{'field_'+fieldData.entityFieldId}}" [attr.aria-label]="controlName"
                (focusout)="onFocusout($event)" [formControlName]="controlName" [owlDateTimeTrigger]="dtPicker2"
                [owlDateTime]="dtPicker2" class="form-control">
            <owl-date-time #dtPicker2 (afterPickerClosed)="onChange(dtPicker2)"></owl-date-time>

            <!-- <angular2-date-picker [formControlName]="controlName" ></angular2-date-picker> -->

            <ng-template #errErrorTpl let-control>
                <ng-container *ngFor="let constraint of fieldData['constraints']">
                    <span *ngIf="control.hasError('required') && constraint.constraintTypeId == 1 && fieldData['invalidField'] != true">
                        {{constraint.textMessages | translate }}
                    </span>
                    <span *ngIf="!control.hasError() && !control.hasError('required')">
                        <span *ngIf="constraint.constraintMessages; else textMessages">
                            {{constraint.constraintMessages | translate }}
                        </span>
                        <ng-template #textMessages>
                           <span *ngIf="constraint.constraintTypeId != 1">
                               {{constraint.textMessages | translate }}
                            </span>
                        </ng-template>
                    </span>
                </ng-container>
            </ng-template>
            <p *ngIf="fieldData['invalidField'] == true" [id]="'error_'+fieldData.entityFieldId" style="color:red">
                <span labelValue key="Required" category="Messages"></span> &nbsp;
            </p>
        </nz-form-control>
    </ng-template>
</nz-form-item>
