<div class="whatWeOffer flex-direction dFlex">
  <div class="mainCaption">
    <h2>What we offer?</h2>
  </div>

  <div class="col-2-wrapper">
    <div class="coll">
      <div class="wwoWrapper">
        <div class="iconCol"><img src="assets/icons/connection.svg" width="70" alt="image"></div>
        <div class="detailCol">
          <h3>Stakeholder Connect</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Vivamus suscipit tortor eget felis porttitor volutpat. Lorem
            ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
    </div>

    <div class="coll">
      <div class="wwoWrapper">
        <div class="iconCol"><img src="assets/icons/icon-dashboard.svg" width="60" alt="image"></div>
        <div class="detailCol">
          <h3>Dynamic Dashboard</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Vivamus suscipit tortor eget felis porttitor volutpat. Lorem
            ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
    </div>

    <div class="coll">
      <div class="wwoWrapper">
        <div class="iconCol"><img src="assets/icons/feedback.svg" width="60" alt="image"></div>
        <div class="detailCol">
          <h3>Rating & Feedback</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Vivamus suscipit tortor eget felis porttitor volutpat. Lorem
            ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
    </div>

    <div class="coll">
      <div class="wwoWrapper">
        <div class="iconCol"><img src="assets/icons/sustainable.svg" width="70" alt="image"></div>
        <div class="detailCol">
          <h3>End to end Lifecycle</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Vivamus suscipit tortor eget felis porttitor volutpat. Lorem
            ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
    </div>
  </div>
</div>