<nz-form-item *ngIf="fieldData" [formGroup]="form">
    <div>
        <label class="dynamic-control-label" for="{{'checkfield_' + fieldData.entityFieldId + '_' + fieldData.fieldTypeId| trim}}" appFormlabel
            [data]="fieldData.formSectionFieldName" [keyId]="fieldData.entityFieldId"
            [id]="'label_'+fieldData.entityFieldId" [class]="fieldData | required"></label>
        <span *ngIf="fieldData.instructions" nz-tooltip nzTooltipPlacement="top"
            [nzTooltipTitle]="fieldData.instructions | translate">
            &nbsp; <i nz-icon nzType="info-circle" nzTheme="outline"></i>
        </span>
    </div>

    <nz-form-control [nzErrorTip]="errErrorTpl">
        <input class="dynamic-control-element" nz-input nzErrorTip="" type="text" id="{{'field_'+fieldData.entityFieldId}}" readOnly
            [attr.aria-label]="controlName" (click)="openMap(fieldData)" [formControlName]="controlName">

        <ng-template #errErrorTpl let-control>
            <ng-container *ngIf="fieldData['constraints']">
                <ng-container *ngFor="let constraint of fieldData['constraints']">
                    <span *ngIf="control.hasError('required') && constraint.constraintTypeId == 1 && fieldData['invalidField'] != true">
                        {{constraint.textMessages | translate }}
                    </span>
                    <span *ngIf="!control.hasError() && !control.hasError('required')">
                        <span *ngIf="constraint.constraintMessages; else textMessages">
                            {{constraint.constraintMessages | translate }}
                        </span>
                        <ng-template #textMessages>
                           <span *ngIf="constraint.constraintTypeId != 1">
                               {{constraint.textMessages | translate }}
                            </span>
                        </ng-template>
                    </span>
                </ng-container>
            </ng-container>
        </ng-template>
        <p *ngIf="fieldData['invalidField'] == true" [id]="'error_'+fieldData.entityFieldId" style="color:red">
            <span labelValue key="Required" category="Messages"></span> &nbsp;
        </p>
        <!-- <div #gmap style="width:100%;height:400px; margin-top: 15px;"></div>      -->
    </nz-form-control>
</nz-form-item>
