<div class="howItWorks flex-direction dFlex">
  <div class="mainCaption">
    <h2>How it works?</h2>
  </div>

  <div class="col-2-wrapper">
    <div class="coll">
      <img src="assets/images/how-it-work.png" alt="image">
    </div>
    <div class="coll">
      <div class="hiwList">
        <div class="countNumber">1</div>
        <div class="countDetails">
          <h3>Onboard & Setup</h3>
          <p>Register on our platform and add your profile, companies,
            ideas. At growth tree you gain one stop access and exposure
            within the community. </p>
        </div>
      </div>
      <div class="hiwList">
        <div class="countNumber">2</div>
        <div class="countDetails">
          <h3>Search & Connect</h3>
          <p>Search for startups, entrepreneurs, ideas and mentors.
            Make connections, engage in discussions and expand
            your network. </p>
        </div>
      </div>
      <div class="hiwList">
        <div class="countNumber">3</div>
        <div class="countDetails">
          <h3>Collaborate, Transact & Monitor</h3>
          <p>Stay updated about investor and startup community.
            Receive various investments. Monitor your current
            investments and different companies.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="dFlex">
  <hr>
</div>