<app-marketing-header></app-marketing-header>
<!--  About section  -->
<div class="comContainer">
  <app-about></app-about>
  <!--  Nurtur TV Show section  -->
  <app-nurtur-tv-show></app-nurtur-tv-show>
  <!--  Why Us section  -->
  <app-why-us></app-why-us>
  <!--  How it works section  -->
  <app-how-it-works></app-how-it-works>
  <!--  What we offer section  -->
  <app-what-we-offer></app-what-we-offer>
</div>

<!-- Testimonials -->
<app-testimonial></app-testimonial>

<!--  Brands section  -->
<app-brands-onboard></app-brands-onboard>