<div class="pageWithRightNav">
    <div name="content">
        <div class="pageContentLayout">
            <div class="headerContainer">
                <div class="header">
                    <tgt-heading headingLevel="H1" headingStyle="headingRegularDarkLarge"
                        content="My Companies & Ideas"> </tgt-heading>
                    <button mat-raised-button color="primary" class="addDropdownBtn" [matMenuTriggerFor]="getOptions">Add
                        <mat-icon>keyboard_arrow_down</mat-icon>
                      </button>
                      <mat-menu #getOptions="matMenu" class="matMenuList">
                        <div mat-menu-item (click)="openDialog('COMPANY')">
                          Company
                        </div>
                        <div mat-menu-item (click)="openDialog('IDEA')">
                          Idea
                        </div>
                      </mat-menu>
                </div>
                <div class="tabCustom">
                    <mat-tab-group class="matTabCustom" (selectedTabChange)="tabSelected($event)">
                        <mat-tab label="All"> </mat-tab>
                        <mat-tab label="Companies"> </mat-tab>
                        <mat-tab label="Ideas"> </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
            <div class="contentContainer" *ngIf="filteredList.length">
                <tgt-perfect-scroll>
                    <app-company *ngFor="let company of filteredList" [data]="company" [stages]="stages"
                        (comapnyAndIdeaData)="openEditModal($event)"></app-company>
                </tgt-perfect-scroll>
                <mat-paginator [pageSize]="25" [length]="totalCount" (page)="onChange()" showFirstLastButtons
                    aria-label="Select page of periodic elements">
                </mat-paginator>
            </div>
            <div *ngIf="!filteredList.length" class="noData">No data found</div>
        </div>
    </div>
    <div name="right-nav">
        <tgt-right-nav withOfficeIcons=true>
            <app-events [entityType]="entityType" [entityId]="profileId" [calendarHeader]="userDetail?.name"></app-events>
            <app-tasks [entityType]="entityType" [entityId]="profileId"></app-tasks>
            <app-connections chubLink="entrepreneur/chub"></app-connections>
        </tgt-right-nav>
    </div>
</div>