<perfect-scrollbar style="max-width:100%; width:100%;height:197px;">
   <div class="sidebar">
      <div class="logo">
         <div class="logoInner"><img src="assets/images/logo.png" alt="iamge" /></div>
      </div>
      <div class="sidebarWrapper">
         <ul>
            <li class="nav-item" routerLinkActive="active">
               <a class="nav-link" [routerLink]="['dashboard']">
                  <i class="material-icons">dashboard</i>
                  <p>Dashboard</p>
               </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
               <a class="nav-link" [routerLink]="['employee']">
                  <i class="material-icons">dashboard</i>
                  <p>Manage Employees</p>
               </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
               <a class="nav-link" [routerLink]="['documents']">
                  <i class="material-icons">dashboard</i>
                  <p>Documents</p>
               </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
               <a class="nav-link" [routerLink]="['events']">
                  <i class="material-icons">dashboard</i>
                  <p>Events</p>
               </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
               <a class="nav-link" [routerLink]="['gallery']">
                  <i class="material-icons">dashboard</i>
                  <p>Gallery</p>
               </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
               <a class="nav-link" [routerLink]="['hardware-config']">
                  <i class="material-icons">dashboard</i>
                  <p>Manage Hardwares</p>
               </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
               <a class="nav-link" [routerLink]="['inventory']">
                  <i class="material-icons">dashboard</i>
                  <p>Inventory</p>
               </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
               <a class="nav-link" [routerLink]="['projects']">
                  <i class="material-icons">dashboard</i>
                  <p>Projects</p>
               </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
               <a class="nav-link" [routerLink]="['roles-permissions']">
                  <i class="material-icons">dashboard</i>
                  <p>Roles & Permissions</p>
               </a>
            </li>
         </ul>
      </div>
      <div class="sidebarBg"></div>
   </div>
</perfect-scrollbar>