<div class="br-mainpanel" style="position: relative;">
    <div class="br-pagebody">
      <div class="row row-sm">
        <!---->
        <div class="machineBgBreadcrumb">
          <div class="errorClass">
            <div class="errorClassInner">
              <div class="errorClassMainDiv">
                <h1>Unauthorised!</h1>
                <p>Sorry,you are not authenticated to access this page</p>
              <a [routerLink]="['/login']">Back</a>
              </div>
            </div>
          </div>
        </div>
        <!---->
      </div>
    </div>
  </div>