<div class="mainChartwrapper">
    <div class="analyDashboard">
        <div class="card chartOne">
            <a>
                <div class="card-body">
                    <span class="chartContent">
                        <mat-icon>library_books</mat-icon>
                 </span>
                    <span class="textList">
                        <p class="card-text">{{totalCompletetask}}</p>
                    <h4>Total Complete Task</h4>
                 </span>
                </div>
            </a>
        </div>

        <div class="card chartTwo">
            <a>
                <div class="card-body">
                    <span class="chartContent chart2">
                        <mat-icon>library_books</mat-icon>
                </span>
                    <span class="textList">
                        <p class="card-text">{{totalIncompletetask}}</p>
                    <h4 >Total Incomplete Task</h4>
                </span>
                </div>
            </a>
        </div>

        <div class="card chartThree">
            <a [routerLink]="['/tasklist']">
                <div class="card-body">
                    <span class="chartContent chart4">
                        <mat-icon> format_list_bulleted</mat-icon>
                </span>
                    <span class="textList">
                        <p class="card-text">{{totalTaskLIast}}</p>
                    <h4 >Total Task List</h4>
                </span>
                </div>
            </a>
        </div>

        <div class="card chartThree">
            <a [routerLink]="['/taskdetail/1']">
                <div class="card-body">
                    <span class="chartContent chart3">
                        <mat-icon>details</mat-icon>
                </span>
                    <span class="textList">
                        <p class="card-text revenueFields"></p> 

                    <h4 >GO To Detail Page </h4>
                </span>
                </div>
            </a>
        </div>
    </div>
</div>