<section class="mainContent">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="accordion">
                        <i class="fa fa-user"></i>
                        Users Management 
                        <i class="fa fa-angle-down text-right" style="float:right"></i>
                        <hr class="mb-0 mt-2">
                    </div>
                    <div class="accordion-content">
                        <ul>
                            <li [routerLink]="['/admin/roles-permissions']">
                                <span>Roles</span>
                            </li>
                            <li [routerLink]="['/admin/employee']">    
                                <span>Users</span>
                            </li>
                            <li [routerLink]="['/admin/admin-screens']">    
                                <span>Screens</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col">                
                <div class="btn-postion">
                    <a class="border">Filter Screens</a>
                    <mat-drawer-container class="example-container" autosize>
                        <mat-drawer #drawer class="example-sidenav" mode="side">
                          <h4>Add Screens</h4>                          
                        </mat-drawer>
                      
                        <div class="example-sidenav-content">
                            <button type="button" class="border" mat-button (click)="drawer.toggle()">
                                Add Screens
                            </button>
                        </div>                  
                    </mat-drawer-container>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th>Role Name</th>
                            <th>Created On</th>
                            <th class="text-right">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">1</td>
                            <td>Sales Manager</td>
                            <td>Sample@gmail.com</td>
                            <td class="td-actions text-right">
                            <button type="button" class="btn btn-info btn-sm blue">
                                <span class="mat-button-wrapper"><i class="material-icons">person</i></span>
                            </button>
                            <button type="button" class="btn btn-info btn-sm green">
                                <span class="mat-button-wrapper"><i class="material-icons">edit</i></span>
                            </button>
                            <button type="button" class="btn btn-info btn-sm red">
                                <span class="mat-button-wrapper"><i class="material-icons">close</i></span>
                            </button>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">2</td>
                            <td>Sales Manager</td>
                            <td>Sample@gmail.com</td>
                        <td class="td-actions text-right">
                            <button type="button" class="btn btn-info btn-sm blue">
                                <span class="mat-button-wrapper"><i class="material-icons">person</i></span>
                            </button>
                            <button type="button" class="btn btn-info btn-sm green">
                                <span class="mat-button-wrapper"><i class="material-icons">edit</i></span>
                            </button>
                            <button type="button" class="btn btn-info btn-sm red">
                                <span class="mat-button-wrapper"><i class="material-icons">close</i></span>
                            </button>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">3</td>
                            <td>Sales Manager</td>
                            <td>Sample@gmail.com</td>
                            <td class="td-actions text-right">
                                <button type="button" class="btn btn-info btn-sm blue">
                                    <span class="mat-button-wrapper"><i class="material-icons">person</i></span>
                                </button>
                                <button type="button" class="btn btn-info btn-sm green">
                                    <span class="mat-button-wrapper"><i class="material-icons">edit</i></span>
                                </button>
                                <button type="button" class="btn btn-info btn-sm red">
                                    <span class="mat-button-wrapper"><i class="material-icons">close</i></span>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">4</td>
                            <td>Sales Manager</td>

                            <td>Sample@gmail.com</td>
                            <td class="td-actions text-right">
                                <button type="button" class="btn btn-info btn-sm blue">
                                    <span class="mat-button-wrapper"><i class="material-icons">person</i></span>
                                </button>
                                <button type="button" class="btn btn-info btn-sm green">
                                    <span class="mat-button-wrapper"><i class="material-icons">edit</i></span>
                                </button>
                                <button type="button" class="btn btn-info btn-sm red">
                                    <span class="mat-button-wrapper"><i class="material-icons">close</i></span>
                                </button>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>



  