.sidebarWrapper {
    box-shadow: 0 10px 10px rgb(0 0 0/40%);
    height: calc(100vh - 64px);
    background-color: #fff;
    top: 66px;
    position: fixed;
    overflow-y: auto;
    left: 0;
    transition: all 0.5s;
    z-index: 9;
    .sideBar {
        padding: 0;
        background-color: white;
        li {
            list-style: none;
            text-decoration: none;
            a {
                text-decoration: none;
                color: grey;
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                grid-gap: 5px;
                padding: 20px;
                transition: all 0.2s;
                border: 1px solid #fff;
                &.active {
                    background: #5fc1e3;
                    color: white;
                    font-weight: 500;
                    .sideIcon {
                        color: white;
                    }
                }
                &:hover {
                    background: #b9c1bd;
                    color: white;
                    .sideIcon {
                        color: white;
                    }
                }
                .sideIcon {
                    color: rgb(29, 24, 24);
                    font-size: 25px;
                    line-height: 22px;
                    text-align: center;
                    padding-left: 20px;
                }
                span {
                    white-space: nowrap;
                }
            }
        }
    }
}