<!--
<section class="commonImage">
    <div class="login">
        <div class="container"> 
            <notifier-container></notifier-container>
            <div class="row">
                <div class="col-md-12 offset-md-12"> 
                    <div class="loginSection">
                        <div class="logo"><img src="assets/images/logo.png" alt="image" title="logo" /></div>
                        <div class="loginFormInner">
                            <h1>Forgot your Password?</h1>
                            <form class="form-horizontal" #emailForm="ngForm"
                                (ngSubmit)="emailForm.valid && sendForgotPasswordEmail(emailForm)" *ngIf="emailSent">
                                <div class="form-group loginField">
                                    <div class="Form">
                                        <div class="input-group">
                                            <mat-form-field class="example-full-width" appearance="fill">
                                                <mat-label>Email</mat-label>
                                                <input matInput placeholder="Ex. pat@example.com" #email="ngModel"
                                                    [(ngModel)]="resetFormData.email" name="email"
                                                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                                                <mat-error
                                                    *ngIf="email.hasError('pattern') && !email.hasError('required')">
                                                    Please enter a valid email address
                                                </mat-error>
                                                <mat-error *ngIf="email.hasError('required')">
                                                    Email is <strong>required</strong>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group mb-15"><button class="btn btn-primary form-control"
                                        (click)="sendForgotPasswordEmail(emailForm)">Next
                                    </button></div>
                                <div class="loginFormInner">
                                    <div class="signUpHere text-center">
                                        Back to <a [routerLink]="['/login']">Login</a>
                                        <div></div>
                                    </div>
                                </div>
                            </form>

                            <form class="form-horizontal" #setPasswordForm="ngForm"
                                (ngSubmit)="setPasswordForm.valid && setPassword(setPasswordForm)"
                                *ngIf="resetPassword">
                                <div class="form-group loginField">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <div class="Form">
                                        <div class="input-group">
                                            <mat-form-field class="example-full-width" appearance="fill">
                                                <mat-label>Password</mat-label>
                                                <input type="password" matInput placeholder="password"
                                                    #password="ngModel" [(ngModel)]="resetFormData.password"
                                                    name="password" required>
                                                <mat-error *ngIf="password.hasError('required')">
                                                    Password is <strong>required</strong>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="input-group">
                                            <mat-form-field class="example-full-width" appearance="fill">
                                                <mat-label> Confirm Password</mat-label>
                                                <input type="password" matInput placeholder="confirm password"
                                                    #confirmpassword="ngModel" [(ngModel)]="data.confirmpassword"
                                                    name="confirmpassword" required>
                                                <mat-error *ngIf="confirmpassword.hasError('required')">
                                                    Confirm Password is <strong>required</strong>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mb-15"><button class="btn btn-primary form-control"
                                    (click)="setPassword(setPasswordForm)">Next
                                </button></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<div class="loginForm">
    <div class="container">
        <notifier-container></notifier-container>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto">
                <!--set email for new password  -->
                <form class="form-horizontal" #emailForm="ngForm"
                    (ngSubmit)="emailForm.valid && sendForgotPasswordEmail(emailForm)" *ngIf="emailSent">
                    <div class="card card-login">
                        <div class="card-header text-center">
                            <h4 class="card-title">Forgot Password</h4>
                            <div class="social-line inner"><a class="btn btn-just-icon btn-link btn-white"><i
                                        class="fa fa-facebook-square"></i></a><a
                                    class="btn btn-just-icon btn-link btn-white"><i class="fa fa-twitter"></i></a><a
                                    class="btn btn-just-icon btn-link btn-white"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                        <div class="card-body">
                            <span class="bmd-form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text"><i
                                                class="material-icons">email</i></span></div>
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <input class="form-control" matInput placeholder="Ex. pat@example.com"
                                            #email="ngModel" [(ngModel)]="resetFormData.email" name="email"
                                            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                                        <mat-error *ngIf="email.hasError('pattern') && !email.hasError('required')">
                                            Please enter a valid email address
                                        </mat-error>
                                        <mat-error *ngIf="email.hasError('required')">
                                            Email is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </span>
                        </div>
                        <div class="card-footer justify-content-center"><button class="btn btn-blue btn-md">Lets
                                Go</button></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>