
.companyFormHeading {
    position: relative;
    .closeButton {
        position: absolute;
        top: 0;
        right: 0;
        border: none ;
        box-shadow: none ;
        background-color: transparent;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
    }
}