<mat-list class="iconListWrapper">
    <mat-list-item>
      <img src="assets/images/clipboard.png" alt="Image" tooltip="Clipboard"/>
    </mat-list-item>
    <mat-list-item>
      <img src="assets/images/hanging-whiteboard.png" alt="Image" tooltip="Hanging Whiteboard"/>
    </mat-list-item>
    <mat-list-item>
      <img src="assets/images/microsoft_word-logo.wine.png" alt="Image" tooltip="Microsoft Word"/>
    </mat-list-item>
    <mat-list-item>
      <img src="assets/images/microsoft_excel-Logo.wine.png" alt="Image" tooltip="Microsoft Excel"/>
    </mat-list-item>
    <mat-list-item>
      <img src="assets/images/msppt.png" alt="Image" tooltip="Microsoft Powerpoint"/>
    </mat-list-item>
    <mat-list-item>
      <img src="assets/images/onedrive-logo.wine.png" alt="Image" tooltip="OneDrive"/>
    </mat-list-item>
</mat-list>